# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
#*       @global-owner1 @global-owner2

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
#*.js    @js-owner

# You can also use email addresses if you prefer. They'll be
# used to look up users just like we do for commit author
# emails.
#*.go docs@example.com

# In this example, @doctocat owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.
#/build/logs/ @doctocat

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
#docs/*  docs@example.com

# In this example, @octocat owns any file in an apps directory
# anywhere in your repository.
#apps/ @octocat

# In this example, @doctocat owns any file in the `/docs`
# directory in the root of your repository.
#/docs/ @doctocat


# Give access to all files not covered by the rules below to admins

* @betaflight/unified-target-administrators

# Per manufacturer rules
# remember to add @betaflight/unified-target-administrators

/configs/default/AIKO-* @DieHertz @betaflight/unified-target-administrators
/configs/default/AIRB-* @x4FF3 @betaflight/unified-target-administrators
/configs/default/APEX-* @x4FF3 @betaflight/unified-target-administrators
/configs/default/BEFH-* @hongzhou-zeng @betaflight/unified-target-administrators
/configs/default/BKMN-* @blckmn @betaflight/unified-target-administrators
/configs/default/CLRA-* @bnn1044 @betaflight/unified-target-administrators
/configs/default/DALR-* @nyway @betaflight/unified-target-administrators
/configs/default/DAFP-* @DMAXYANG @betaflight/unified-target-administrators
/configs/default/DIAT-* @kc10kevin @betaflight/unified-target-administrators
/configs/default/DERC-* @DemonRC @betaflight/unified-target-administrators
/configs/default/DRCL-* @elin-neo @betaflight/unified-target-administrators
/configs/default/EXUA-* @Linjieqiang @betaflight/unified-target-administrators
/configs/default/FLCO-* @tobeornottobe81 @betaflight/unified-target-administrators
/configs/default/FLLF-* @flyinglemonfpv @betaflight/unified-target-administrators
/configs/default/FLMO-* @cvetaevvitaliy @betaflight/unified-target-administrators
/configs/default/FOXE-* @Johnsnow-foxeer @betaflight/unified-target-administrators
/configs/default/GEPR-* @Linjieqiang @betaflight/unified-target-administrators
/configs/default/GEFP-* @x4FF3 @betaflight/unified-target-administrators
/configs/default/HENA-* @bnn1044 @betaflight/unified-target-administrators
/configs/default/HFOR-* @atgfpeyv @betaflight/unified-target-administrators
/configs/default/HGLR-* @HGLRC-D @betaflight/unified-target-administrators
/configs/default/HOWI-* @Project399 @betaflight/unified-target-administrators
/configs/default/IFRC-* @Linjieqiang @betaflight/unified-target-administrators
/configs/default/LDAR-* @Linjieqiang @betaflight/unified-target-administrators
/configs/default/LMNR-* @x4FF3 @betaflight/unified-target-administrators
/configs/default/MOQU-* @ModdQuad @betaflight/unified-target-administrators
/configs/default/MTKS-* @MATEKSYS @betaflight/unified-target-administrators
/configs/default/MZGC-* @JanikProphet @betaflight/unified-target-administrators
/configs/default/NEBD-* @yangyeah @betaflight/unified-target-administrators
/configs/default/NGUA-* @aguindehi @betaflight/unified-target-administrators
/configs/default/PYDR-* @bnn1044 @betaflight/unified-target-administrators
/configs/default/RCTI-* @mikeller-test @betaflight/unified-target-administrators
/configs/default/RUSH-* @nyway @betaflight/unified-target-administrators
/configs/default/SJET-* @star624 @betaflight/unified-target-administrators
/configs/default/SKST-* @hongzhou-zeng @betaflight/unified-target-administrators
/configs/default/SPCM-* @Linjieqiang @betaflight/unified-target-administrators
/configs/default/SPDX-* @DieHertz @betaflight/unified-target-administrators
/configs/default/SPRO-* @hydra @betaflight/unified-target-administrators
/configs/default/TCMM-* @DMAXYANG @betaflight/unified-target-administrators
/configs/default/TEBS-* @sirPerna @betaflight/unified-target-administrators
/configs/default/TMTR-* @DieHertz @betaflight/unified-target-administrators
/configs/default/TTRH-* @flosean @betaflight/unified-target-administrators
/configs/default/YUPF-* @Faduf @betaflight/unified-target-administrators
/configs/default/ZEEZ-* @Guidus93 @betaflight/unified-target-administrators
