# Betaflight / STM32F745 (S745) 4.4.0 Apr 30 2023 / 08:22:46 (norevision) MSP API: 1.45

board_name INFINITY_200RS
manufacturer_id NEBD

# resources
resource MOTOR 1 C08
resource MOTOR 2 C06
resource MOTOR 3 C09
resource MOTOR 4 C07
resource LED_STRIP 1 A09
resource SERIAL_TX 1 B06
resource SERIAL_TX 2 A02
resource SERIAL_TX 3 B10
resource SERIAL_TX 7 E08
resource SERIAL_TX 8 E01
resource SERIAL_RX 1 B07
resource SERIAL_RX 2 A03
resource SERIAL_RX 5 D02
resource SERIAL_RX 7 E07
resource SERIAL_RX 8 E00
resource I2C_SCL 1 B08
resource I2C_SDA 1 B09
resource LED 1 C00
resource SPI_SCK 1 A05
resource SPI_SCK 2 B13
resource SPI_SCK 3 B03
resource SPI_SCK 4 E12
resource SPI_MISO 1 A06
resource SPI_MISO 2 B14
resource SPI_MISO 3 B04
resource SPI_MISO 4 E13
resource SPI_MOSI 1 A07
resource SPI_MOSI 2 B15
resource SPI_MOSI 3 D06
resource SPI_MOSI 4 E14
resource ADC_BATT 1 C01
resource ADC_CURR 1 C02
resource FLASH_CS 1 B00
resource OSD_CS 1 A15
resource GYRO_EXTI 1 B01
resource GYRO_EXTI 2 E09
resource GYRO_CS 1 E11
resource GYRO_CS 2 B12

# timer
timer C08 AF2
# pin C08: TIM3 CH3 (AF2)
timer C06 AF2
# pin C06: TIM3 CH1 (AF2)
timer C09 AF2
# pin C09: TIM3 CH4 (AF2)
timer C07 AF2
# pin C07: TIM3 CH2 (AF2)
timer A01 AF1
# pin A01: TIM2 CH2 (AF1)
timer A09 AF1
# pin A09: TIM1 CH2 (AF1)

# dma
dma ADC 1 0
# ADC 1: DMA2 Stream 0 Channel 0
dma pin C08 0
# pin C08: DMA1 Stream 7 Channel 5
dma pin C06 0
# pin C06: DMA1 Stream 4 Channel 5
dma pin C09 0
# pin C09: DMA1 Stream 2 Channel 5
dma pin C07 0
# pin C07: DMA1 Stream 5 Channel 5
dma pin A01 0
# pin A01: DMA1 Stream 6 Channel 3
dma pin A09 0
# pin A09: DMA2 Stream 6 Channel 0

# feature
feature LED_STRIP
feature OSD
feature ESC_SENSOR

# serial
serial 0 1 115200 57600 0 115200
serial 1 2048 115200 57600 0 115200
serial 4 1024 115200 57600 0 115200

# led
led 0 6,11::CTO:0
led 1 7,11::CTO:0
led 2 8,11::CTO:0
led 3 9,11::CTO:0

# master
set gyro_hardware_lpf = OPTION_2
set gyro_lpf1_static_hz = 0
set gyro_lpf2_type = PT2
set gyro_lpf2_static_hz = 145
set dyn_notch_count = 1
set dyn_notch_q = 500
set dyn_notch_min_hz = 150
set gyro_lpf1_dyn_min_hz = 0
set gyro_lpf1_dyn_max_hz = 0
set acc_lpf_hz = 10
set serialrx_provider = SBUS
set blackbox_device = SPIFLASH
set dshot_burst = ON
set dshot_bidir = ON
set motor_pwm_protocol = DSHOT600
set current_meter = ADC
set battery_meter = ADC
set ibata_scale = 230
set ibata_offset = 10
set small_angle = 180
set simplified_gyro_filter = OFF
set osd_warn_bitmask = 8063
set osd_vbat_pos = 341
set osd_rssi_pos = 2370
set osd_link_quality_pos = 341
set osd_link_tx_power_pos = 341
set osd_rssi_dbm_pos = 341
set osd_rsnr_pos = 341
set osd_tim_1_pos = 341
set osd_tim_2_pos = 2338
set osd_remaining_time_estimate_pos = 341
set osd_flymode_pos = 2353
set osd_anti_gravity_pos = 341
set osd_g_force_pos = 341
set osd_throttle_pos = 341
set osd_vtx_channel_pos = 2345
set osd_crosshairs_pos = 312
set osd_ah_sbar_pos = 313
set osd_ah_pos = 185
set osd_current_pos = 2390
set osd_mah_drawn_pos = 341
set osd_wh_drawn_pos = 341
set osd_motor_diag_pos = 341
set osd_craft_name_pos = 2376
set osd_pilot_name_pos = 341
set osd_gps_speed_pos = 341
set osd_gps_lon_pos = 341
set osd_gps_lat_pos = 341
set osd_gps_sats_pos = 341
set osd_home_dir_pos = 341
set osd_home_dist_pos = 341
set osd_flight_dist_pos = 341
set osd_compass_bar_pos = 341
set osd_altitude_pos = 341
set osd_pid_roll_pos = 341
set osd_pid_pitch_pos = 341
set osd_pid_yaw_pos = 341
set osd_debug_pos = 341
set osd_power_pos = 341
set osd_pidrate_profile_pos = 341
set osd_warnings_pos = 329
set osd_avg_cell_voltage_pos = 2359
set osd_pit_ang_pos = 341
set osd_rol_ang_pos = 341
set osd_battery_usage_pos = 341
set osd_disarmed_pos = 341
set osd_nheading_pos = 341
set osd_up_down_reference_pos = 312
set osd_ready_mode_pos = 341
set osd_esc_tmp_pos = 341
set osd_esc_rpm_pos = 341
set osd_esc_rpm_freq_pos = 341
set osd_rtc_date_time_pos = 341
set osd_adjustment_range_pos = 341
set osd_flip_arrow_pos = 341
set osd_core_temp_pos = 341
set osd_log_status_pos = 341
set osd_stick_overlay_left_pos = 341
set osd_stick_overlay_right_pos = 341
set osd_rate_profile_name_pos = 341
set osd_pid_profile_name_pos = 341
set osd_profile_name_pos = 341
set osd_rcchannels_pos = 341
set osd_camera_frame_pos = 142
set osd_efficiency_pos = 341
set osd_total_flights_pos = 341
set osd_aux_pos = 341
set osd_sys_goggle_voltage_pos = 341
set osd_sys_vtx_voltage_pos = 341
set osd_sys_bitrate_pos = 341
set osd_sys_delay_pos = 341
set osd_sys_distance_pos = 341
set osd_sys_lq_pos = 341
set osd_sys_goggle_dvr_pos = 341
set osd_sys_vtx_dvr_pos = 341
set osd_sys_warnings_pos = 341
set osd_sys_vtx_temp_pos = 341
set osd_sys_fan_speed_pos = 341
set osd_canvas_width = 30
set osd_canvas_height = 13
set max7456_spi_bus = 3
set flash_spi_bus = 1
set gyro_1_bustype = SPI
set gyro_1_spibus = 4
set gyro_1_sensor_align = CW90
set gyro_1_align_yaw = 900
set gyro_2_spibus = 2
set craft_name = INFINITY 200RS
